* {
    box-sizing: border-box;
}

.bs-example{
    margin: 50px;
}

body {
    max-width: 100%;
    height: auto;
    margin: auto;
    background-image: url(../images/jasmin\ pim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    max-width: fit-content;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
}
ul li a:hover {
    color: orangered;

}

.row {
    font-family: Verdana, sans-serif;
    width: auto;
    text-align: right;
    color: white;
    margin-top: 25px;
}
